body {
    background-color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
}

.library {
    position: bottom;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    width: 300px;
}

.library_content {
    background-color: #121212;
    border-radius: 8px;
    padding: 20px 0 0 16px;
    height: 500px;
}

.library_button {
    background-color: #121212;
    border: none;
    color: #b3b3b3;
    padding: 0 60px 20px 20px;
}

.plus_button {
    background-color: #121212;
    border: none;
    color: #b3b3b3;
    padding: 0 20px 20px 60px;
}

.library .library_content .library_button{
    font-weight: 600;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
}

.playlist {
    background-color: #242424;
    border-radius: 8px;
    width: 260px;
    padding: 20px 0 20px 10px;
    margin-bottom: 10px;
}

.podcast {
    background-color: #242424;
    border-radius: 8px;
    width: 260px;
    padding: 20px 0 20px 10px;
}

.library .library_content .playlist {
    color: white;
    font-family: "DM Sans", sans-serif;
}

.library .library_content .podcast{
    color: white;
    font-family: "DM Sans", sans-serif;
}

.flex-container {
    display: flex;
    align-content: space-around;
}

p {
    padding: 10px;
    font-size: 12px;
}

.bigger {
    font-weight: 600;
    padding: 5px;
}

.lower {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
}

.button_playlist {
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    padding: 10px;
}

.button_podcast {
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    padding: 10px;
}

.flex-container_2 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}